@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  height: 100%;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  letter-spacing: 0.02em;
}

a {
  color: #000;
  display: inline-block;
  letter-spacing: 0.02em;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container {
  max-width: 1130px;
  margin: 0 auto;
  padding: 0 15px;
}

.title-big {
  font-weight: 500;
  font-size: 55px;
  line-height: 110%;
}

.title {
  font-weight: 500;
  font-size: 40px;
  line-height: 110%;
  color: #000;
}

.descr {
  font-weight: 400;
  font-size: 13px;
  line-height: 140%;
}

.btn {
  padding: 22px 50px;
  font-size: 17px;
  color: #FFFFFF;
  background: #6E9C9F;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.btn:hover {
  background: #509498;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.btn1 {
  padding: 21px 49px;
  font-size: 17px;
  color: #6E9C9F;
  border: 1px solid #6E9C9F;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.btn1:hover {
  background: #6E9C9F;
  color: #fff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.btn2 {
  display: inline-block;
  padding: 9px 16.5px;
  font-weight: 500;
  font-size: 17px;
  line-height: 140%;
  border: 1px solid #000000;
  cursor: pointer;
}
.btn2:hover {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: #000;
  color: #fff;
}
.btn2.active {
  background: #000;
  color: #fff;
}

.hello.slick-initialized .slick-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team .slick-list {
  width: 730px;
}

.bread-crumbs a {
  color: #000;
  font-weight: 500;
  font-size: 17px;
  line-height: 140%;
}
.bread-crumbs a::after {
  content: "—";
  margin: 0 13px;
}
.bread-crumbs a:last-child {
  color: #919191;
}
.bread-crumbs a:last-child::after {
  content: "";
}

.form__textarea-style {
  display: block;
  width: 100%;
  height: 134px;
  border-bottom: 1px solid #000;
  padding: 4px 10px 16px 5px;
  font-weight: 500;
  font-size: 17px;
  line-height: 140%;
  color: #868686;
  resize: none;
}
.form__textarea-style:focus {
  border: 1px solid #000;
}
.form__textarea-style::-webkit-input-placeholder {
  font-weight: 500;
  font-size: 17px;
  line-height: 140%;
  color: #868686;
}
.form__textarea-style::-moz-placeholder {
  font-weight: 500;
  font-size: 17px;
  line-height: 140%;
  color: #868686;
}
.form__textarea-style:-ms-input-placeholder {
  font-weight: 500;
  font-size: 17px;
  line-height: 140%;
  color: #868686;
}
.form__textarea-style::-ms-input-placeholder {
  font-weight: 500;
  font-size: 17px;
  line-height: 140%;
  color: #868686;
}
.form__textarea-style::placeholder {
  font-weight: 500;
  font-size: 17px;
  line-height: 140%;
  color: #868686;
}

.form__input-style {
  display: block;
  width: 100%;
  border-bottom: 1px solid #000;
  padding: 4px 10px 16px 5px;
  margin-bottom: 35px;
  font-weight: 500;
  font-size: 17px;
  line-height: 140%;
  color: #868686;
}
.form__input-style:focus {
  border: 1px solid #000;
}
.form__input-style::-webkit-input-placeholder {
  font-weight: 500;
  font-size: 17px;
  line-height: 140%;
  color: #868686;
}
.form__input-style::-moz-placeholder {
  font-weight: 500;
  font-size: 17px;
  line-height: 140%;
  color: #868686;
}
.form__input-style:-ms-input-placeholder {
  font-weight: 500;
  font-size: 17px;
  line-height: 140%;
  color: #868686;
}
.form__input-style::-ms-input-placeholder {
  font-weight: 500;
  font-size: 17px;
  line-height: 140%;
  color: #868686;
}
.form__input-style::placeholder {
  font-weight: 500;
  font-size: 17px;
  line-height: 140%;
  color: #868686;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px 0;
}
.header__logo img {
  width: 100%;
  max-width: 140px;
}
.header__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__number {
  cursor: pointer;
  margin: 0 33.5px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__number::before {
  content: "";
  background: url(../img/phone.svg) center no-repeat;
  width: 27px;
  height: 27px;
  margin: 0 10px 0 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #fff;
  border-radius: 5px;
}
.header__number:hover::before {
  background: url(../img/phone1.svg) center no-repeat #6e9c9f;
  border-radius: 5px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.header__shop {
  margin: 0 0 0 33.5px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -22.5px;
}
.menu__list-li {
  margin: 0 22.5px;
}
.menu__list-li a {
  font-weight: 400;
  font-size: 15px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.menu__list-li a.active {
  font-weight: 700;
  font-size: 15px;
  color: #6E9C9F;
}
.menu__list-li a:hover {
  color: #6E9C9F;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: relative;
}
.menu__list-li a:hover::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #CEDEDF;
  -webkit-animation: item-menu-anim 0.5s ease 1;
          animation: item-menu-anim 0.5s ease 1;
}

@-webkit-keyframes item-menu-anim {
  0% {
    left: 50%;
    width: 0%;
  }
  50% {
    left: 25%;
    width: 50%;
  }
  100% {
    left: 0;
    width: 100%;
  }
}

@keyframes item-menu-anim {
  0% {
    left: 50%;
    width: 0%;
  }
  50% {
    left: 25%;
    width: 50%;
  }
  100% {
    left: 0;
    width: 100%;
  }
}
.hello {
  background: url(../img/hello-img.png) 76.3% center no-repeat;
}
.hello::after {
  content: "";
  width: 705px;
  height: 855px;
  background: #f1eadc;
  top: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
.hello__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hello__text {
  width: 100%;
  max-width: 50%;
  padding: 205px 20px;
  background: rgba(255, 255, 255, 0.646);
}
@media (max-width: 900px) {
  .hello__text {
    max-width: 100%;
  }
}
.hello__title {
  margin: 0 0 45px 0;
}
.hello__descr {
  margin: 0 0 52px 0;
  font-size: 20px;
  line-height: 140%;
}
.hello__btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.hello__btn-arrow-down {
  opacity: 1;
  background: rgba(110, 156, 159, 0.1);
  padding: 19px 25px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.hello__btn-arrow-down:hover {
  background: rgba(110, 156, 159, 0.292);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
}

.hello__slider .slick-dots {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 35px 0 0 0;
  position: absolute;
  bottom: 60px;
  left: 270px;
}

.hello__slider .slick-dots li {
  margin: 0 6px;
}

.hello__slider .slick-dots li.slick-active button {
  background-color: #000;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.hello__slider .slick-dots button {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-size: 0;
  width: 30px;
  height: 4px;
  padding: 0;
  border: 0;
  background: #D1D1D1;
  outline: none;
}

.shop__body .collection__items {
  margin: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.shop__body .collection__item {
  margin: 0 0 65px 0;
  text-align: center;
}

*:last-child {
  margin-bottom: 0;
}

.shop__inner {
  margin: 190px 0 130px 0;
}
.shop__top {
  margin: 0 0 220px 0;
}
.shop__title {
  margin: 0 0 26px 0;
}
.shop__tabs {
  margin: 0 0 92px 0;
  font-weight: 500;
  font-size: 17px;
  line-height: 140%;
  text-transform: capitalize;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.shop__tab {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  padding: 19px 65px;
}
.shop__pages-num {
  font-weight: 500;
  font-size: 17px;
  line-height: 140%;
  color: #808080;
  margin: 0 0 65px 0;
}
.shop__btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.shop__btn {
  margin: 0 7px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.shop__btn-arrow {
  margin: 0 7px;
  cursor: pointer;
}

.collection {
  margin: 130px;
  text-align: center;
}
.collection__title {
  margin: 0 0 92px 0;
}
.collection__items {
  margin: 0 -15px 65px -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.collection__item {
  margin: 0 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.33%;
          flex: 0 1 33.33%;
}

.collection-item__img {
  margin: 0 0 24px 0;
  position: relative;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.collection-item__img img {
  width: 100%;
  max-width: 350px;
}
.collection-item__img:hover::after {
  content: "";
  position: absolute;
  background: url(../img/ico-arrow-right-white.svg) center center no-repeat rgba(110, 156, 159, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-animation: item-amin-bg 0.5s ease 1;
          animation: item-amin-bg 0.5s ease 1;
  opacity: 1;
}
@-webkit-keyframes item-amin-bg {
  0% {
    opacity: 0.2;
  }
  25% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.6;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
@keyframes item-amin-bg {
  0% {
    opacity: 0.2;
  }
  25% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.6;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
.collection-item__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  margin: 0 0 7px 0;
}
.collection-item__prise {
  font-size: 15px;
  line-height: 140%;
  color: #9C9C9C;
}
.collection-item__prise span {
  margin: 0 5px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
}

.benefits {
  margin: 0 0 130px 0;
}
.benefits__title {
  margin: 0 0 92px 0;
}
.benefits__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.benefits__item {
  margin: 0 15px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
}

.benefits-item__img {
  margin: 0 0 37px 0;
}
.benefits-item__title {
  font-weight: 500;
  font-size: 25px;
  line-height: 140%;
  margin: 0 0 24px 0;
}
.benefits-item__descr {
  font-weight: 500;
  font-size: 17px;
  line-height: 140%;
}

.team {
  margin: 0 0 130px 0;
}
.team__title {
  margin: 0 0 92px 0;
}
.team__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.team__item {
  margin: 0 124px 0 0;
}
.team__item img {
  width: 100%;
  width: 730px;
}
.team__text {
  margin: 0 0 0 95px;
  font-weight: 500;
  width: 100%;
  max-width: 255px;
}

.team-text__title {
  font-size: 25px;
  line-height: 140%;
  margin: 0 0 28px 0;
}
.team-text__descr {
  font-size: 17px;
  line-height: 140%;
  margin: 0 0 28px 0;
}
.team-text__descr p:first-child {
  margin: 0 0 35px 0;
}
.team-text__more {
  font-size: 17px;
  line-height: 140%;
  color: #6E9C9F;
}
.team-text__more:hover {
  color: #6E9C9F;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: relative;
}
.team-text__more:hover::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #CEDEDF;
  -webkit-animation: item-menu-anim 0.5s ease 1;
          animation: item-menu-anim 0.5s ease 1;
}

.team__btn-prev {
  cursor: pointer;
  position: relative;
  left: -33px;
}

.team__btn-next {
  cursor: pointer;
  position: relative;
  right: -33px;
}

.team__items .slick-dots {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 35px 0 0 0;
  position: absolute;
  bottom: 60px;
  left: 270px;
}

.team__items .slick-dots li {
  margin: 0 6px;
}

.team__items .slick-dots li.slick-active button {
  background-color: rgb(255, 255, 255);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.team__items .slick-dots button {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-size: 0;
  width: 30px;
  height: 4px;
  padding: 0;
  border: 0;
  background: rgba(255, 255, 255, 0.3);
  outline: none;
}

.product__inner {
  margin: 110px 0 130px 0;
}
.product__top {
  margin: 0 0 102px 0;
}
.product__title {
  margin: 0 0 26px 0;
}
.product__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-weight: 500;
  margin: 0 0 130px 0;
}

.product__similar .product-similar__title {
  font-weight: 500;
  font-size: 40px;
  margin: 0 0 67px 0;
}
.product__similar .collection__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.product__similar .collection__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 350px;
          flex: 0 1 350px;
  text-align: center;
}

.product-item__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  margin: 0 72px 0 0;
}
.product-item__img img {
  width: 100%;
  max-width: 536px;
}
.product-item__price {
  font-size: 40px;
  line-height: 110%;
  color: #998E78;
  margin: 0 0 65px 0;
}
.product-item__price span {
  margin: 0 15px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  font-size: 30px;
}
.product-item__size {
  margin: 0 0 60px 0;
}
.product-item__size-title {
  font-size: 20px;
  margin: 0 0 34px 0;
}
.product-item__size-btn {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  text-transform: uppercase;
}
.product-item__color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -7px 60px -7px;
}
.product-item__color-title {
  font-size: 20px;
  margin: 0 0 34px 0;
}
.product-item__color-item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0 7px;
  cursor: pointer;
}
.product-item__color-item:nth-child(1) {
  background: #927876;
  border: 1px solid #927876;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.product-item__color-item:nth-child(1):hover {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border: 1px solid #433736;
}
.product-item__color-item:nth-child(2) {
  background: #D4D4D4;
  border: 1px solid #D4D4D4;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.product-item__color-item:nth-child(2):hover {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border: 1px solid #9c9c9c;
}
.product-item__color-item:nth-child(3) {
  background: #FD9696;
  border: 1px solid #FD9696;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.product-item__color-item:nth-child(3):hover {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border: 1px solid #be7070;
}
.product-item__color-item:nth-child(4) {
  background: #FDC796;
  border: 1px solid #FDC796;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.product-item__color-item:nth-child(4):hover {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border: 1px solid #b8916c;
}
.product-item__btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -5.5px;
}
.product-item__btn-number {
  -webkit-box-flex: 0;
      -ms-flex: 0 1;
          flex: 0 1;
  margin: 0 5.5px;
  cursor: pointer;
  padding: 20px 30px;
  border: 1px solid #AFAFAF;
  display: inline-block;
  color: #000;
}
.product-item__btn {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  margin: 0 5.5px;
  cursor: pointer;
}

.about-brand__inner {
  margin: 190px 0 130px 0;
}
.about-brand__top {
  margin: 190px 0 214px 0;
}
.about-brand__title-top {
  margin: 0 0 26px 0;
}
.about-brand__text-box:last-child {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.about-brand__text-inner {
  width: 100%;
  max-width: 542px;
}
.about-brand__text {
  margin: 0 0 130px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.about-brand__text:last-child {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.about-brand__img img {
  width: 100%;
  max-width: 442px;
}
.about-brand__title {
  font-size: 25px;
  line-height: 140%;
  margin: 0 0 46px 0;
}
.about-brand__descr {
  font-weight: 500;
  font-size: 17px;
  line-height: 140%;
}
.about-brand__descr p {
  margin: 0 0 30px 0;
}
.about-brand__descr p:last-child {
  margin-bottom: 0;
}
.about-brand__btn-box {
  text-align: center;
}

.contacts__inner {
  margin: 130px 0;
}
.contacts__top {
  margin: 0 0 214px 0;
}
.contacts__title {
  margin: 0 0 26px 0;
}
.contacts__map {
  height: 476px;
  width: 100%;
  background: #DDDDDD;
  font-size: 17px;
  line-height: 24px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 130px 0;
}
.contacts__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 500;
  line-height: 140%;
  margin: 0 0 130px 0;
}
.contacts__number-title {
  font-size: 17px;
  margin: 0 0 20px 0;
}
.contacts__number-descr {
  font-size: 20px;
}
.contacts__email-title {
  font-size: 17px;
  margin: 0 0 20px 0;
}
.contacts__email-descr {
  font-size: 20px;
}
.contacts__address-title {
  font-size: 17px;
  margin: 0 0 20px 0;
}
.contacts__address-descr {
  font-size: 20px;
}
.contacts__form {
  max-width: 350px;
}

.contacts-form__title {
  margin: 0 0 62px 0;
}
.contacts-form__name {
  margin: 0 0 35px 0;
}
.contacts-form__email {
  margin: 0 0 35px 0;
}
.contacts-form__number {
  margin: 0 0 35px 0;
}
.contacts-form__mess {
  margin: 0 0 35px 0;
}
.contacts-form__info {
  margin: 62px 0 0 0;
  display: none;
  font-weight: 500;
  font-size: 17px;
  line-height: 140%;
  padding: 30px 20px;
  background: #F1EADC;
}

.form__title {
  font-weight: 500;
  font-size: 25px;
  line-height: 140%;
}
.form__name {
  display: block;
  width: 100%;
  border-bottom: 1px solid #000;
  padding: 4px 10px 16px 5px;
  font-weight: 500;
  font-size: 17px;
  line-height: 140%;
  color: #868686;
}
.form__name:focus {
  border: 1px solid #000;
}
.form__name::-webkit-input-placeholder {
  font-weight: 500;
  font-size: 17px;
  line-height: 140%;
  color: #868686;
}
.form__name::-moz-placeholder {
  font-weight: 500;
  font-size: 17px;
  line-height: 140%;
  color: #868686;
}
.form__name:-ms-input-placeholder {
  font-weight: 500;
  font-size: 17px;
  line-height: 140%;
  color: #868686;
}
.form__name::-ms-input-placeholder {
  font-weight: 500;
  font-size: 17px;
  line-height: 140%;
  color: #868686;
}
.form__name::placeholder {
  font-weight: 500;
  font-size: 17px;
  line-height: 140%;
  color: #868686;
}
.form__email {
  display: block;
  width: 100%;
  border-bottom: 1px solid #000;
  padding: 4px 10px 16px 5px;
  font-weight: 500;
  font-size: 17px;
  line-height: 140%;
  color: #868686;
}
.form__email:focus {
  border: 1px solid #000;
}
.form__email::-webkit-input-placeholder {
  font-weight: 500;
  font-size: 17px;
  line-height: 140%;
  color: #868686;
}
.form__email::-moz-placeholder {
  font-weight: 500;
  font-size: 17px;
  line-height: 140%;
  color: #868686;
}
.form__email:-ms-input-placeholder {
  font-weight: 500;
  font-size: 17px;
  line-height: 140%;
  color: #868686;
}
.form__email::-ms-input-placeholder {
  font-weight: 500;
  font-size: 17px;
  line-height: 140%;
  color: #868686;
}
.form__email::placeholder {
  font-weight: 500;
  font-size: 17px;
  line-height: 140%;
  color: #868686;
}
.form__number {
  display: block;
  width: 100%;
  border-bottom: 1px solid #000;
  padding: 4px 10px 16px 5px;
  font-weight: 500;
  font-size: 17px;
  line-height: 140%;
  color: #868686;
}
.form__number:focus {
  border: 1px solid #000;
}
.form__number::-webkit-input-placeholder {
  font-weight: 500;
  font-size: 17px;
  line-height: 140%;
  color: #868686;
}
.form__number::-moz-placeholder {
  font-weight: 500;
  font-size: 17px;
  line-height: 140%;
  color: #868686;
}
.form__number:-ms-input-placeholder {
  font-weight: 500;
  font-size: 17px;
  line-height: 140%;
  color: #868686;
}
.form__number::-ms-input-placeholder {
  font-weight: 500;
  font-size: 17px;
  line-height: 140%;
  color: #868686;
}
.form__number::placeholder {
  font-weight: 500;
  font-size: 17px;
  line-height: 140%;
  color: #868686;
}

.cart__inner {
  margin: 190px 0 130px 0;
}
.cart__top {
  margin: 0 0 214px 0;
}
.cart__title {
  margin: 0 0 26px 0;
}

.cart-table {
  font-weight: 500;
}
.cart-table__row {
  border-bottom: 1px solid #CCCCCC;
  font-size: 20px;
  line-height: 140%;
  padding: 50px 0 30px 0;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 475px 1fr 1fr 1fr;
  grid-template-columns: 475px 1fr 1fr 1fr;
}
.cart-table__row:last-child {
  border-bottom: none;
  font-size: 17px;
  line-height: 140%;
}

.card-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.card-product::before {
  content: "";
  background: url("../img/ico-closet.svg") center center no-repeat;
  height: 12px;
  width: 12px;
  margin: 0 45px 0 0;
  cursor: pointer;
}
.card-product img {
  width: 100%;
  max-width: 125px;
  margin: 0 36px 0 0;
}

.card-btn {
  width: 47px;
  height: 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #AFAFAF;
}

.cart__form-box {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 62px 0 88px 0;
}
.cart__form-input-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.cart__enter-coupon {
  margin: 0 16px 0 0;
  width: 255px;
}
.cart__btn-cupon {
  background-color: transparent;
  white-space: nowrap;
}
.cart__btn-restart {
  background-color: transparent;
  white-space: nowrap;
}
.cart__result-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.cart__result-text1 {
  font-weight: 500;
  font-size: 17px;
  line-height: 140%;
  margin: 0 0 28px 0;
}
.cart__result-text-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -7.5px;
}
.cart__result-text2 {
  background: #F1EADC;
  padding: 16px 30px;
  font-weight: 500;
  font-size: 25px;
  line-height: 140%;
  display: inline-block;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  margin: 0 7.5px;
}
.cart__result-text2 span {
  margin: 0 0 0 69px;
}
.cart__result-btn-cupon {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  margin: 0 7.5px;
}

.checkout__inner {
  margin: 190px 0 130px 0;
}
.checkout__top {
  margin: 0 0 214px 0;
}
.checkout__title {
  margin: 0 0 26px 0;
}
.checkout__title1 {
  margin: 0 0 47px 0;
}
.checkout__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.checkout__form-colum {
  width: 100%;
  max-width: 350px;
}
.checkout__form-user {
  margin: 0 0 80px 0;
}
.checkout__form-address {
  margin: 0 0 80px 0;
}
.checkout__form-comment {
  margin: 0 0 80px 0;
}
.checkout__info {
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  margin: 0 0 145px 0;
}
.checkout__info-item {
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.checkout__info-item:last-child {
  padding: 15px 10px;
  font-weight: 500;
  font-size: 23px;
  line-height: 150%;
  background: #F1EADC;
}
.checkout__goods {
  font-size: 17px;
}
.checkout__subtotal {
  font-size: 17px;
}
.checkout__payment {
  margin: 0 0 47px 0;
}
.checkout__payment span {
  font-weight: 500;
  font-size: 17px;
  padding: 0 0 0 14px;
  line-height: 140%;
}

.success__inner {
  margin: 190px 0 130px 0;
}
.success__top {
  margin: 0 0 214px 0;
}
.success__title {
  margin: 0 0 26px 0;
}
.success__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  line-height: 140%;
}
.success__info-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.success-info__img {
  margin: 0 44px 0 0;
}
.success-info__title {
  font-size: 25px;
  margin: 0 0 17px 0;
}
.success-info__subtitle {
  font-size: 17px;
}

.footer {
  background: #f1eadc;
}
.footer__inner {
  padding: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__logo {
  margin: 0 0 70px 0;
}
.footer__descr {
  margin: 6px 0;
}
.footer__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.footer__number {
  margin: 0 0 10px 0;
  font-size: 15px;
}
.footer__email {
  font-size: 15px;
}
.footer__ico {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px -6px;
}
.footer__ico li {
  margin: 0 6px;
  position: relative;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.footer__ico li:hover {
  -webkit-animation: footer-ico-anim 0.5s ease 1;
          animation: footer-ico-anim 0.5s ease 1;
}

@-webkit-keyframes footer-ico-anim {
  0% {
    top: 3px;
  }
  50% {
    top: -7px;
  }
  100% {
    top: 0;
  }
}

@keyframes footer-ico-anim {
  0% {
    top: 3px;
  }
  50% {
    top: -7px;
  }
  100% {
    top: 0;
  }
}
.menu__list-box > a {
  margin-bottom: 40px;
}
.menu__list-li-inner {
  margin: 10px 0;
}