.about-brand {

    &__inner {
        margin: 190px 0 130px 0;

    }

    &__top {
        margin: 190px 0 214px 0;
    }

    &__title-top {
        margin: 0 0 26px 0;
    }

    &__text-box {
        &:last-child {
            flex-direction: row-reverse;
        }
    }

    &__text-inner {
        width: 100%;
        max-width: 542px;
    }

    &__text {
        margin: 0 0 130px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &:last-child {
            flex-direction: row-reverse;
        }
    }

    &__img {
        img {
            width: 100%;
            max-width: 442px;
        }
    }

    &__title {
        font-size: 25px;
        line-height: 140%;
        margin: 0 0 46px 0;

    }

    &__descr {
        font-weight: 500;
        font-size: 17px;
        line-height: 140%;

        p {
            margin: 0 0 30px 0;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__btn-box {
        text-align: center;
    }
}